Blur03.bmp
Blur05.bmp
Blur07.bmp
Blur09.bmp
Blur11.bmp
Blur13.bmp
Blur15.bmp
Blur17.bmp
Blur19.bmp
Blur21.bmp
Blur23.bmp
Rblur03.bmp
Rblur05.bmp
Rblur07.bmp
Rblur09.bmp
Rblur11.bmp
Rblur13.bmp
Rblur15.bmp
Rblur17.bmp
Rblur19.bmp
Rblur21.bmp
Rblur23.bmp
GrayScale.bmp
HorizontalRot.bmp
mc.bmp
hollow.bmp
rata.bmp
a.exe
/clase